@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
  transition: 0.5s;
}

body {
  margin: 0;
  background-color: rgb(9, 9, 9);
  color: white;
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;
  --color-main: #635bff;
  padding: 0;
  padding-bottom: 105px;
}

*::-webkit-scrollbar {
  width: 0;
}

img {
  width: 100%;
}


.main {
  display: flex;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}

.circle {
  width: 25%;
  height: 30px;
  background-color: rgb(26, 26, 26);
  margin: 1px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 8px;
  align-items: center;
  text-align: center;
  padding: 5px;
  flex-grow: 1;
}

.me {
  height: 100%;
  display: flex;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.mine {
  width: 90px;
  background-color: rgb(36, 36, 36);
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  margin-bottom: -18px;
  padding: 20px;
}

.mine img {
  margin-top: 5px;
}

svg {
  margin-top: 7px;
  color: rgb(255, 255, 252);
  transition: 0.25s;
}

svg:hover {
  color: var(--color-main);
}

.me img {
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 20px;
}

.myname {
  flex-grow: 1;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgb(36, 36, 36);
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;

  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  height: 20px;
  padding: 20px;
  margin-top: 48px;
  margin-right: -1px;
}

.div-work {
  margin-top: 10px;
}

.works {
  height: auto;
  color: white;
  font-family: "Raleway", sans-serif;
  margin-left: 20px;
  text-decoration: underline 8px rgba(255, 255, 255, 0.301);
}

.demo {
  display: flex;
  flex-wrap: wrap;
}

.trail {
  width: 45%;
  flex-grow: 1;
  background-color: rgb(26, 26, 26);
  height: 200px;
  margin: 1px;
  border-color: rgb(79, 61, 121);
  height: auto;
}

.trail:nth-child(1) {
  border-top-left-radius: 20px;
  border-left-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  margin-left: 10px;
}

.trail:nth-child(2) {
  border-top-right-radius: 20px;
  margin-right: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

.trail:nth-child(3) {
  border-bottom-left-radius: 20px;
  margin-left: 10px;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.trail:nth-child(4) {
  border-bottom-right-radius: 20px;
  margin-right: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.trail li {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  margin-right: 10px;
}

.trail ul {
  margin-left: -20px;
  margin-top: 10px;
  color: var(--color-main);
  margin-right: 5px;
}

.h1,
.h2,
.h3 {
  text-align: center;
  text-decoration: var(--color-main);
}

.div-price {
  display: flex;
  flex-wrap: wrap;
}

.pricing {
  background-color: rgb(26, 26, 26);
  width: 250px;
  margin: 10px;
  flex-grow: 1;
  position: relative;
  padding-bottom: 60px;
  border-radius: 10px;
}

.h1-price {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  font-weight: 600;

}

.pricing ul {
  margin-top: 20px;
  margin-left: -20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--color-main);
  font-weight: 500;
}

.pricing li {
  margin: 7px;
  margin-left: 20px;
  color: white;
  font-size: 18px;
}

.sample,
.sample2 {
  width: 50px;
  height: 50px;
  background-color: #00000035;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.sample:hover {
  background-color: #000000;
}

.sample svg {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
  color: rgb(255, 255, 255);
}

.sample svg:hover,
.sample2 svg:hover {
  color: white;
}

.sample2 {
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.sample2 svg {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
  color: rgb(84, 84, 84);
  transition: 1s;
}

.div-skill {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  height: 4px;
  width: 70%;
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 5px;
}

.percentage {
  height: 100%;
  background-color: rgb(79, 79, 79);
  border-radius: 10px;
}

.child1 {
  background-color: var(--color-main);
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.child2 {
  width: 90%;
  background-color: var(--color-main);
  height: 100%;
  border-radius: 10px;
}

.child3 {
  background-color: var(--color-main);
  height: 100%;
  border-radius: 10px;
  width: 70%;
}

.child4 {
  background-color: var(--color-main);
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.child5 {
  background-color: var(--color-main);
  height: 100%;
  border-radius: 10px;
  width: 80%;
}

.h2,
.h3 {
  text-decoration: var(--color-main);
  margin-bottom: 20px;
}

.div-skill p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 17px;
}

.about {
  margin: 15px;
  text-align: justify;
  text-align: center;
}

.div-dot {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.endot {
  width: 3px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 50%;
}

.endot:hover {
  width: 3px;
  height: 3px;
  background-color: rgb(158, 158, 158);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 50%;
}

.h4 {
  text-align: center;
}

.footer {
  height: 83px;
  width: 100%;
  margin: 0;
  display: flex;
  position: fixed;
  bottom: 13px;
  z-index: 1000;
}

.footer div svg:hover {
  color: white;
}

.foot {
  height: 100%;
  width: 60px;
  background-color: white;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 50px;
  margin-left: -100px;
}

.foot:nth-child(1) {
  background-color: rgb(10, 10, 10);
}

.foot:nth-child(2) {
  background-color: rgb(20, 11, 10);
}

.foot:nth-child(3) {
  background-color: rgb(20, 20, 20);
}

.foot:nth-child(4) {
  background-color: rgb(30, 30, 30);
  margin-right: 2px;
}

.foot-font {
  position: absolute;
  right: 100px;
  top: 26px;
  font-size: 17px;
  color: rgb(173, 171, 171);
  font-weight: 500;
}

.foot-font svg {
  margin-left: 14px;
}

.black {
  height: 90px;
  width: 100%;
}

.addFlex {
  display: flex;
  flex-wrap: wrap;
}

.addOn {
  width: 300px;
  flex-grow: 1;
  margin: 2px;
  max-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  padding-top: 6px;
  padding-bottom: 8px;
  border-radius: 7px;
  background-color: rgb(20, 20, 20);
}

.addOn svg {
  font-size: 22px;
}


.addOn p,
.addOn svg {
  display: inline-block;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

.addOn svg {
  margin-left: 5px;
  margin-bottom: -2px;
}

.addOn p {
  font-size: 17px;
  margin-left: 20px;
}

.addOn p:hover {
  display: inline-block;
  padding-right: 5%;
}

#blackish {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.737);
  display: block;
}

.popup {
  position: fixed;
  right: 10px;
  left: 10px;
  top: 150px;
  height: 200px;
  background-color: rgba(173, 173, 173, 0);
  padding: 10px;
  cursor: pointer;
}

.popup div {
  width: 300px;
  height: 100%;
  background-color: black;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #635bff;
  position: relative;
}

.popup div p {
  text-align: center;
  margin: 20px;
  margin-top: 35px;
}

.popup div p span {
  color: #635bff;
  font-weight: 700;
}

.popup div svg {
  position: absolute;
  color: red;
  cursor: pointer;
  top: 5px;
  right: 10px;
}

.popup div svg:hover {
  color: rgb(219, 1, 1);
}

.chat {
  width: 60px;
  height: 60px;
  background-color: rgb(46, 46, 46);
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
}

.chat:hover {
  background-color: #292929;
}

.chat svg {
  margin: 20%;
}

.overthe {
  position: fixed;
  bottom: 96px;
  right: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #1c1c1c;
  border-radius: 50px;
  border-color: #635bff6c;
  border-width: 1px;
  border-style: solid;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3px;
}

.overthe div {
  text-align: center;
}

.overthe p {
  margin: 0;
}

.overthe p svg {
  vertical-align: top;
  margin: 0;
  margin-top: 3px;
  margin-left: 5px;
  color: #80ff00;
  cursor: pointer;
}

.overthe p svg:hover {
  color: #80ff00a4;
}

#sorry {
  margin-right: 5px;
  margin-top: 2px;
  cursor: default;
}

#sorry:hover {
  color: #80ff00;
}

.img-vacancia {
  position: fixed;
  bottom: 0;
  opacity: 0.8;
}

@media screen and (max-width:500px) {
  .pricing {
    background-color: rgb(26, 26, 26);
    border-color: rgb(79, 61, 121);
    border-width: 1px;
    border-radius: 0;
  }

  .pricing:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
  }

  .pricing:nth-child(2) {
    margin-top: 1px;
    margin-bottom: 1px;
    border-left-style: solid;
    border-right-style: solid;
  }

  .pricing:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
  }

  .addOn:nth-child(1) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    border-color: rgb(79, 61, 121);
    border-bottom-color: black;
  }

  .addOn:nth-child(2) {
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(79, 61, 121);
    border-top-color: black;
    border-bottom-color: black;


  }

  .addOn:nth-child(3) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    border-color: rgb(79, 61, 121);

    border-top-color: black;
  }

}